@media (max-width: 1100px) {
   .about {
      padding: 30px 0 50px;
   }

   .about__inner {
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
   }

   .about__title {
      margin-left: 0;
      margin: 30px 0 30px;
   }

   .about__content {
      margin-left: 0;
      margin-bottom: 15px;
   }

   .about__text {
      max-width: 806px;
   }

   .testimonial__nextarrow {
      right: 10px;
   }

   .testimonial__prevarrow {
      left: 10px;
   }

   .shop__inner {
      grid-template-columns: 1fr 1fr;
      padding: 50px 0;
      grid-row-gap: 70px;
      grid-column-gap: 60px;
   }

   .shop__icon {
      margin: 0 auto;
   }

   .product__photo {
      margin-right: 20px;
   }

   .product__text {
      max-width: 350px;
   }

   .reletad {
      margin-bottom: 30px;
   }

   .reletad__inner {
      flex-wrap: wrap;
      justify-content: space-around;
   }


   .reletad__inner .shop__item {
      margin: 0 5px 20px;
   }
}

@media (max-width:1000px) {
   .team__inner {
      flex-wrap: wrap;
      justify-content: space-around;
   }

   .team__item {
      margin: 0 10px 20px;
   }

   .team__title {
      margin-bottom: 60px;
   }

   .team {
      padding-bottom: 70px;
   }

   .shop__list {
      flex-wrap: wrap;
   }

   .shop__list-item {
      margin-bottom: 15px;
   }

   .shop__title {
      margin-bottom: 40px;
   }

   .gallery__items {
      grid-template-columns: 1fr 1fr;
   }

   .gallery__item:nth-child(6) {
      grid-column: span 2;

   }

   .gallery__item:last-child {
      grid-row: 5;
      grid-column: 2;
   }

   .contact__inner {
      flex-wrap: wrap;
   }

   .contact__title {
      margin-bottom: 50px;
   }

   .product__inner {
      flex-wrap: wrap;
   }

   .details {
      margin-bottom: 40px;
   }

   .reletad__title {
      margin-bottom: 50px;
   }
}

@media (max-width: 820px) {
   .burger {
      display: block;

   }

   .header__nav-list {
      position: absolute;
      transform: translateY(-400px);
      left: 15px;
      right: 15px;
      text-align: center;
      top: 100px;
      justify-content: center;
      flex-direction: column;
      border-radius: 10px;
      background-color: rgba(93, 93, 93, 0.8);
      z-index: 5;
   }

   .header__nav-list.header__nav--active {
      transition: transform 0.6s;
      transform: translateY(0);
   }

   .burger.burger--active {
      height: 25px;
   }

   .burger.burger--active span:nth-child(2) {
      transition: opacity 0.2s;
      opacity: 0;
   }

   .burger.burger--active span:first-child {
      position: absolute;
      bottom: 9px;
      transition: transform 0.4s;
      transform: rotate(45deg);
   }

   .burger.burger--active span:last-child {
      transform: rotate(-45deg);
      position: absolute;
      bottom: 9px;
      transition: transform 0.4s;
   }


   .header__nav-item {
      margin: 10px 0;
   }

   .advantages__inner {
      flex-wrap: wrap;
   }

   .advantages__item {
      margin: 0 10px 10px;
   }

   .testimonial__text {
      max-width: 350px;
      font-size: 18px;
   }

   .footer__inner {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      text-align: center;
   }

   .footer__social {
      grid-column: span 2;
   }

   .footer__social-list {
      margin-left: 0;
   }

   .footer__title {
      margin-bottom: 30px;
   }

   .footer {
      background-position: center right;
   }

   .gallery {
      padding: 40px 0 50px;
   }

   .gallery__title {
      margin-bottom: 40px;
   }

   .gallery__inner {
      margin-bottom: 50px;
   }

   .cart__item h5 {
      font-size: 18px;
      line-height: 29px;
   }

   .cart__inner {
      padding: 20px 10px 30px;
   }

   .product__photo {
      margin-right: 0;
   }

   .product {
      padding: 40px 0 50px;
   }

   .product__content {
      text-align: center;
   }

   .details__text {
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      margin: 0;
   }

   .details__review {
      margin: 0;
   }

}

@media (max-width: 650px) {
   .shop__inner {
      grid-template-columns: 1fr;
   }

   .shop__item {
      margin: 0 70px;
   }

   .contact__title {
      margin-bottom: 20px;
   }

   .contact {
      padding: 40px 0 50px;
   }

   .contact__input {
      width: 100%;
   }

   .contact__textarea {
      width: 100%;
   }

   .contact__input:first-child {
      margin-right: 0;
      margin-bottom: 30px;
   }

   .contact__input:first-child,
   .contact__input:nth-child(2) {
      width: 100%;
   }

   .cart__title {
      margin-bottom: 30px;
   }

   .cart {
      padding: 40px 0 50px;
   }

   .cart__row {
      column-gap: 0;
   }

   .cart__item h5 {
      font-size: 15px;
      line-height: 23px;
   }

   .header__inner-cappuccino .breadcrumbs {
      font-size: 40px;
      line-height: 50px;
   }



   .details__review-photo img {
      max-width: inherit;
   }
}

@media (max-width: 520px) {

   .title {
      font-size: 40px;
      line-height: 50px;
   }

   .header__title {
      font-size: 45px;
      line-height: 65px;
      max-width: auto;
      text-align: center;
   }

   .header__button {
      text-align: center;
   }

   .header__btn {
      margin: 0;
   }

   .header__social {
      left: 50%;
      transform: translateX(-50%);
   }

   .about {
      padding-top: 0;
   }

   .about__text {
      font-size: 18px;
      line-height: 25px;
   }

   .advantages__title {
      margin-bottom: 30px;
   }

   .advantages {
      padding-bottom: 20px;
   }

   .breadcrumbs {
      font-size: 40px;
      line-height: 55px;
      margin-top: 30px;
   }

   .header__inner {
      height: 250px;
   }

   .testimonial__text {
      max-width: 200px;
      font-size: 14px;
   }

   .testimonial__name {
      margin-bottom: 15px;
   }

   .testimonial__nextarrow {
      right: 0;
   }

   .testimonial__prevarrow {
      left: 0;
   }

   .testimonial__slider-item {
      padding: 35px 0 60px;
   }

   .team {
      padding-top: 30px;
      padding-bottom: 40px;
   }

   .team__title {
      margin-bottom: 40px;
   }

   .footer__inner {
      grid-template-columns: 1fr;
   }

   .footer__social {
      grid-column: 1;
   }

   .footer {
      padding-top: 35px;
   }

   .copyright {
      margin-top: 35px;
   }

   .copyright__text {
      font-size: 20px;
   }

   .shop {
      padding: 30px 0 50px;
   }

   .shop__list-btn {
      font-size: 20px;
      line-height: 30px;
      padding: 10px 15px;
   }

   .shop__item {
      margin: 0;
   }

   .gallery__items {
      grid-template-columns: 1fr;
   }

   .gallery__item:nth-child(3) {
      grid-column: auto;
      grid-row: auto;
   }

   .gallery__item:nth-child(4) {
      grid-column: auto;
   }

   .gallery__item:nth-child(6) {
      grid-column: auto;
   }

   .gallery__item:last-child {
      grid-column: auto;
      grid-row: auto
   }

   .contact__info-title {
      font-size: 26px;
      line-height: 35px;
      margin-bottom: 10px;
   }

   .contact__info-mail {
      font-size: 20px;
      line-height: 30px;
   }

   .contact__info-phone,
   .contact__info-hours {
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 22px;
   }

   .cart__item:nth-child(2) {
      display: none;
   }

   .cart__item h5 {
      font-size: 13px;
      line-height: 20px;
   }

   .cart__row {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 5px;
   }

   .shop__btn {
      font-size: 18px;
      line-height: 26px;
   }

   .header__inner-cappuccino .breadcrumbs {
      font-size: 23px;
      line-height: 30px;
   }

   .header__inner-cappuccino .breadcrumbs__item:after {
      right: 2px;
   }

   .product__img {
      padding: 0;
   }

   .product__inner {
      padding: 0 5px;
   }

   .product__quantity span {
      left: 30px;
   }

   .product__input {
      padding-left: 120px;
      height: 43px;
      width: 155px;

   }



   .product__btn {
      padding: 10px 10px;
      margin-left: 5px;
   }

   .product__quantity {
      font-size: 17px;
      line-height: 22px;
   }

   .details__review-inputs {
      flex-direction: column;
   }

   .details__btn {
      font-size: 18px;
      line-height: 20px;
      padding: 10px 12px;
   }

   .details__review-input {
      width: 100%;
      margin: 10px 0;
   }

   .details__review-item {
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
   }

   .details__review-stars {
      justify-content: center;
   }

   .details__review-content {
      margin-left: 0;
   }
}

@media (max-height: 750px) {
   .header__title {
      margin-top: 100px;
   }

   .header__social {
      bottom: 50px;
   }
}